mixin b-user-title()
	+b.b-user-title
		+e.login-section
			+e.form-fields
				+e.form-field
					+e.INPUT.text-input.u-input(type="text" placeholder="email")
				+e.form-field
					+e.INPUT.text-input.u-input(type="password" placeholder="password")

			+e.submit
				+e.BUTTON.submit-button.u-button(type="submit") Log In

		+e.logout-section
			+e.BUTTON.logout-btn.u-button Logout

