.b-user-title
	position relative

	&__form-fields
		display inline-block
		vertical-align middle

	&__form-field
		display inline-block
		vertical-align middle
		margin-left 5px
		margin-right 5px

	&__submit
		display inline-block
		vertical-align middle
		margin-left 5px

	&__logout-section
		text-align right

	&__logout-btn
		margin-left 15px

	&__errors-section
		position absolute
		font-size 12px
		color red
		right 0
		margin-top 10px
