mtop($margin)
	margin-top $margin
	&:first-child
		margin-top 0

mbot($margin)
	margin-bottom $margin
	&:last-child
		margin-bottom 0

mmargin($margin)
	mtop($margin)
	mbot($margin)

clearfix()
	&:after
		content ''
		display block
		clear both

fa-icon($icon = 0)
	$fa-font-size-base = 14px !default
	display: inline-block
	font: normal normal normal ($fa-font-size-base/1) FontAwesome
	font-size: inherit
	text-rendering: auto
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	transform: translate(0, 0)

	if $icon != 0
		content $icon

placeholder()
	&::-webkit-input-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}
	&.ui-placeholder
		{block}

loader11(
	$size = 16px,
	$color = #4b7fbf,
	$duration = 0.7s,
	$gap = 12px,
	$align = 'center')

	width $size
	height $size
	border-radius 50%
	box-shadow 0 $size * 2 0 $color
	position relative
	animation loader11 $duration ease-in-out alternate infinite
	animation-delay ($duration / 5) * 2

	&::after,
	&::before
		content ''
		position absolute
		width $size
		height $size
		border-radius 50%
		box-shadow 0 $size * 2 0 $color
		animation loader11 $duration ease-in-out alternate infinite

	&::before
		left -($size + $gap)
		animation-delay ($duration / 5) * 3

	&::after
		right -($size + $gap)
		animation-delay ($duration / 5) * 1

	if($align == 'center')
		margin-left auto
		margin-right auto

	if($align == 'middle')
		top 50%;
		margin -($size * 2 + $size / 2) auto 0

	else
		top -($size * 2)

	@keyframes loader11 {
		0% {
			box-shadow 0 $size * 2 0 $color
		}

		100% {
			box-shadow 0 $size 0 $color
		}
	}
