.u-container
	max-width 1200px
	padding-left 15px
	padding-right 15px
	margin-left auto
	margin-right auto

.u-input
	padding 5px 15px
	border 1px solid gray
	border-radius 5px

	&_full
		width 100%

	&_error
		border-color red

	.form-control
		border none
		width 100%

.u-button
	background-color #fff
	border 1px solid gray
	padding 5px 15px
	border-radius 5px


.Select-control
	border 1px solid gray
	height 30px

.Select-input
	height 30px


.Select-placeholder
	color #808080

.is-focused:not(.is-open) > .Select-control
	box-shadow none
	border-color gray

.Select-placeholder,
.Select--single > .Select-control .Select-value
	line-height 30px
