mixin b-default-form()
	+b.b-default-form
		+e.header
			+e.title Create an account

		form
			+e.section._cols
				+e.half-field
					+e.input-holder
						+b.INPUT.u-input._full(type="text" placeholder="First name")

				+e.half-field
					+e.input-holder
						+b.INPUT.u-input._full(type="text" placeholder="Surname")

				+e.full-field
					+e.input-holder
						+b.INPUT.u-input._full(type="text" placeholder="Email")

				+e.full-field
					+e.input-holder
						+b.INPUT.u-input._full(type="text" placeholder="Password")

				+e.full-field
					+e.input-holder
						+b.INPUT.u-input._full(type="text" placeholder="Repeat password")

			+e.section
				+e.submit-holder
					+b.INPUT.u-button(type="submit" value="Create an account")



