$b-default-form__field
	float left
	padding-left 5px
	padding-right 5px
	margin-top 5px
	margin-bottom 5px

.b-default-form
	&__header
		font-weight bold
		mmargin(20px)

	&__full-field
		@extend $b-default-form__field
		width 100%

	&__half-field
		@extend $b-default-form__field
		width 50%

	&__section
		mmargin(10px)

		&_cols
			margin-left -5px
			margin-right -5px
			clearfix()

	&__errors
		font-size 12px
		margin-top 5px
		color red

	&__submit-holder
		mmargin(20px)

	.react-datepicker-wrapper,
	.react-datepicker__input-container
		width 100%
