.b-default-table
	&__table
		display table
		width 100%
		border-collapse collapse

	&__tr
		display table-row

	&__th
		position relative
		display table-cell
		padding 15px
		border 1px solid gray
		text-align center

	&__td
		display table-cell
		padding 15px
		border 1px solid gray
		text-align center

		i
			cursor pointer

	&__add-btn
		margin-top 20px

	&__sort-btn
		position absolute
		right 5px
		top 50%
		margin-top -9px
		cursor pointer
