mixin b-default-table()
	+b.b-default-table
		+e.table
			+e.tr
				+e.th Date
				+e.th Distance
				+e.th Time
				+e.th Average speed
				+e.th Edit
				+e.th Delete

			+e.tr
				+e.td 08.08.2017
				+e.td 1000
				+e.td 00:05:27
				+e.td 00:05:27
				+e.td Редактировать
				+e.td Удалить

			+e.tr
				+e.td 09.08.2017
				+e.td 1000
				+e.td 00:05:11
				+e.td 00:05:11
				+e.td Редактировать
				+e.td Удалить

			+e.tr
				+e.td 10.08.2017
				+e.td 1000
				+e.td 00:04:44
				+e.td 00:04:44
				+e.td Редактировать
				+e.td Удалить

			+e.tr
				+e.td 11.08.2017
				+e.td 2000
				+e.td 00:09:50
				+e.td 00:09:50
				+e.td Редактировать
				+e.td Удалить
