extends layouts/_default

include ../blocks/header/header
include ../blocks/default-form/default-form
include ../blocks/default-table/default-table

block header
	+b-header()

block main
	//- b.layout
	.u-container
		+e.item._centred
			+b-default-form

		+e.item
			+b-default-table
