.b-layout
	&__main
		padding-top 30px
		padding-bottom 30px

	&__item
		mmargin(20px)

		&_centred
			margin-left auto
			margin-right auto
			max-width 400px

		&_small
			max-width 400px

	&__cols
		margin-left -15px
		margin-right -15px
		clearfix()

	&__half-col
		float left
		width 50%
		padding-left 15px
		padding-right 15px
