.b-header
	&__top-section
		padding-top 30px
		padding-bottom 30px
		border-bottom 1px solid gray
		clearfix()

	&__logo-holder
		float left
		font-size 32px

	&__user-ui
		float right

	&__menu
		display inline-block
		padding-top 20px
		padding-bottom 20px
		border-bottom 1px solid gray
