include ../default-menu/default-menu
include ../user-title/user-title


mixin b-header()
	+b.b-header
		+e.top-section
			.u-container
				+e.logo-holder
					+e.A.logo Jogging App

				+e.user-ui
					+b-user-title()

		+e.menu-section
			.u-container
				+e.menu
					+b-default-menu()
