include ../bemto/bemto.pug

- set_bemto_settings({ prefix: '' })

doctype
html(lang="ru")
	head
		title Jogging App

		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width", initial-scale="1.0")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="/assets/css/application.bundle.css")
		base(href="/")

	body
		block body
			+b.b-layout
				+e.HEADER.header
					block header

				+e.MAIN.main
					block main


		script(src="/assets/js/application.bundle.js")
