mixin b-default-menu()
	+b.b-default-menu
		+e.first-holder
			+e.UL.first-level
				+e.LI.first-item
					+e.A.first-link Records
				+e.LI.first-item
					+e.A.first-link Reports
				+e.LI.first-item
					+e.A.first-link Users
				+e.LI.first-item
					+e.A.first-link All Records
